drawio/test-step-function.json
{
  "StartAt": "StartState",
  "States": {
    "StartState": {
      "Type": "Pass",
      "Next": "ChoiceState"
    },
    "ChoiceState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.lambda",
          "StringEquals": "InternalErrorNotHandled",
          "Next": "InternalErrorNotHandledLambda"
        },
        {
          "Variable": "$.lambda",
          "StringEquals": "InternalErrorHandled",
          "Next": "InternalErrorHandledLambda"
        },
        {
          "Variable": "$.lambda",
          "StringEquals": "Success",
          "Next": "SuccessLambda"
        },
        {
          "Variable": "$.lambda",
          "StringEquals": "Timeout",
          "Next": "TimeoutLambda"
        }
      ],
      "Default": "FailState"
    },
    "InternalErrorNotHandledLambda": {
      "Type": "Task",
      "Resource": "arn:aws:rpcmessage:local::function:InternalErrorNotHandledLambda",
      "Next": "EndState"
    },
    "InternalErrorHandledLambda": {
      "Type": "Task",
      "Resource": "arn:aws:rpcmessage:local::function:InternalErrorHandledLambda",
      "Next": "EndState"
    },
    "SuccessLambda": {
      "Type": "Task",
      "Resource": "arn:aws:rpcmessage:local::function:SuccessLambda",
      "Next": "WaitState"
    },
    "TimeoutLambda": {
      "Type": "Task",
      "Resource": "arn:aws:rpcmessage:local::function:TimeoutLambda",
      "Next": "EndState"
    },
    "FailState": {
      "Type": "Fail",
      "Error": "NoLambdaError",
      "Cause": "No Matches!"
    },
    "EndState": {
      "Type": "Pass",
      "End": true
    },
    "WaitState": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "EndState"
    }
  }
}
